<p>
  <b>Name:</b>
  <%=h @sub_administrative_area.name %>
</p>

<p>
  <b>Administrative area:</b>
  <%=h @sub_administrative_area.administrative_area_id %>
</p>


<%= link_to 'Edit', edit_sub_administrative_area_path(@sub_administrative_area) %> |
<%= link_to 'Back', sub_administrative_areas_path %>