<h1>New Search</h1>
<fieldset>Search Condidtions:
	<% form_for(@search_condition, :url => {:action => "result"}) do |f| %>
  <p>
    <label for="City">City:</label>
    <%= f.text_field :city, :size => 40 %>
  </p>
  <p>
    <label for="Street">Street:</label>
    <%= f.text_field :street, :size => 40 %>
  </p>
  <p>
    <label for="Rooms count">Rooms count:</label>
    <%= f.text_field :rooms_count, :size => 40 %>
  </p>
  <p>
    <%= f.submit "Search" , :class => "submit" %>
  </p>
	<% end %>
</fieldset>

