<div id="search_result">
<h1>Результаты поиска</h1>
Строка условия поиска: <%= @qs %>
<table>
  <tr>
    <th>Rooms count</th>
    <th>Rent price</th>
    <th>City</th>
    <th>Street</th>
    <th>House number</th>
    <th>Flat number</th>
    <th>Floor number</th>
    <th>Disctrict</th>
    <th>Area total</th>
    <th>Area kitchen</th>
    <th>Rent time</th>
    <th>Contacts</th>
    <th>Comment</th>
    <th>User</th>
  </tr>
  <tr>
		<%= render(:partial => "rent_entry" , :collection => @entries) %>
  </tr>
</table>

<br />

<%= link_to "New search", :action => "new" %>
</div>
