<div id="search_result">
<h1>Результаты поиска</h1>
Строка условия поиска: <%= @qs %>
<table>
  <tr>
    <th>Количество комнат</th>
    <th>Цена аренты руб. в мес.</th>
    <th>Город</th>
    <th>Улица</th>
    <th>Дом</th>
    <th>Номер квартиры</th>
    <th>Номер этажа</th>
    <th>Район</th>
    <th>Площадь суммарная</th>
    <th>Площадь кухни</th>
    <th>Время аренды</th>
    <th>Контакты</th>
    <th>Комментарий</th>
  </tr>
  <tr>
		<%= render(:partial => "rent_entry" , :collection => @entries) %>
  </tr>
</table>

<br />
</div>
