# -*- coding: utf-8 -*-
Сводная информация по имеющимся объявлениям. Состояние счета. 
  <tr>
  <td>  <%= "Вы вошли как #{@user.name} + #{@user.surname}" %>  </td>
  <td>
  <%= link_to "Новое объявление об аренде",:action => "new_rent_entry"%>
  <%= link_to "Мои объявления",:action => "my_entries"%>
  <%= link_to "Редактировать персональную информацию",:action => "personal_info"%>
  </td>
</tr>
