<table>
	<tr>
		Персональная информация:
	</tr>
	<tr>
			<%= link_to "Добавить объявление",:controller => "oldsite",:action => "new_entry_start"%>
			<%= link_to "Мои объявления",:controller => "user_entries", :action => "index"%>
			<%= link_to "Редактировать персональную информацию",:action => "personal_info"%>
	</tr>
</table>
