<div id="home_page">
	<h3>РАСШИРЕННЫЙ ПОИСК :</h3>
	<div>
		<fieldset id="search_options_field_set" class="big_field_set"> 
			<legend align=center class="big_field_set_legend" >АРЕНДА</legend>
			<input style="width: 300px;" type="button" value="Квартира, комната - МОСКВА" onClick="location='/search/room_flat_moscow'">
			<br>
			<input style="width: 300px;" type="button" value="Квартира, комната - МО" onClick="location='/search/room_flat_mo'">
			<br>
			<input style="width: 300px;" type="button" value="Дом, дача, коттедж, таунхаус" onClick="location='/search/suburban'">
			<br>
			<input style="width: 300px;" type="button" value="Нежилые помещения - МОСКВА" onClick="location='/search/nonresid_moscow'">
			<br>
			<input style="width: 300px;" type="button" value="Нежилые помещения - МО" onClick="location='/search/nonresid_mo'">
		</fieldset>
	</div>
</div>


