<div id="new_entry_start_page">
	<h3>НОВОЕ ОБЪЯВЛЕНИЕ :</h3>
	<div>

		<fieldset id="new_entry_options_field_set" class="big_field_set"> 
			<legend align=center class="big_field_set_legend" >АРЕНДА</legend>
			<input style="width: 300px;" type="button" value="Квартира, комната - МОСКВА" onClick="location='/user_entries/new_rent_room_flat_moscow'">
			<br>
			<input style="width: 300px;" type="button" value="Квартира, комната - МО" onClick="location='/user_entries/new_rent_room_flat_mo'">
			<br>
			<input style="width: 300px;" type="button" value="Дом, дача, коттедж, таунхаус" onClick="location='/user_entries/new_rent_suburban'">
			<br>
			<input style="width: 300px;" type="button" value="Нежилые помещения - МОСКВА" onClick="location='/user_entries/new_rent_nonresid_moscow'">
			<br>
			<input style="width: 300px;" type="button" value="Нежилые помещения - МО" onClick="location='/user_entries/new_rent_nonresid_mo'">
		</fieldset>
	</div>
</div>



