<html>
<head>
<title>OLDSITE</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="X-UA-Compatible" content="IE=7"/>
<meta name="Description" content="">
<meta name="Keywords" content="">
<meta name="Creation_Date" content="03/04/2010">
<style type="text/css">
body
{
  color: #333333;
  background: #F0F7F7;
  font-weight: normal;
  font-size: 9pt;
  font-family: Tahoma, Verdana, Arial Cyr, Arial, Times New Roman, PragmaticaC;
}

table.cat {
border: none;
border-collapse: collapse;
}
table.cat td {
border: 1px solid #C2CDCC;
}

h1 {FONT-SIZE: 15pt; FONT-WEIGHT: bold;}
img     {BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px;}
hr      {color: #C0C0C0; margin-bottom: 0px; margin-left: 0px; margin-top: 0px;}
td      {FONT-SIZE: 9pt; color: #333333; font-family: Tahoma, Verdana, Arial Cyr, Times New Roman, PragmaticaC, Arial}
form    {MARGIN: 0px;}
.copy {
        FONT-SIZE: 7pt; FONT-WEIGHT: normal; COLOR: #839893;
}
.h {
        FONT-SIZE: 10pt; FONT-WEIGHT: bold; COLOR: #ffffff;
}
a.n               {font-weight: normal; color: black; text-decoration: none;}
a.n:visited               {font-weight: normal; color: black; text-decoration: none;}

input.blue		{font-weight: bold; color: blue;}
input.red		{font-weight: bold; color: red;}
input.green		{font-weight: bold; color: green;}

p.title		{font-weight: bold;}
a.m               {color: green; cursor:hand; text-decoration:underline;}
a.m:visited       {color: green; cursor:hand; text-decoration:underline;}
a.m:hover         {color: green; cursor:hand; text-decoration:underline;}

A               {font-weight: normal; color: #00749f; text-decoration: underline;}
A:visited       {color: #005271;}
A:hover         {color: #0094b4;}

.open { border: solid 1px black; border-right: none; border-bottom: none; text-align: center; font-weight: bold;}
.close { border: solid 1px black; border-right: none; text-align: center; background: #D6D6D6;}
a.close {border: none; color: black; font-weight: bold; cursor:hand; text-decoration:none;}
a.close:hover{border: none; color: black; font-weight: bold; cursor:hand; text-decoration:underline;}
a.open {border: none; color: black; font-weight: bold; cursor:hand; text-decoration:none;}

#input.button {font-size:95%;}

</style>
</head>
<body id="doc" onScroll="" onLoad="">
<table border="0" cellspacing="0" cellpadding="0" width="100%" id="tbody">

  <tr>
    <td>
      <table cellspacing="10" cellpadding="10" border="0" width="100%">
        <tr>
          <td>
<table border="0" cellspacing="0" cellpadding="10">
<tr>
<td>

<a href="/cat.php?type=4&room0=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;КОМНАТЫ&nbsp;</b></a>&nbsp;(8179)<br><br>

<a href="/cat.php?type=4&room1=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;ОДНОКОМНАТНЫЕ&nbsp;КВАРТИРЫ&nbsp;</b></a>&nbsp;(10587)<br><br>
<a href="/cat.php?type=4&room2=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;ДВУХКОМНАТНЫЕ&nbsp;КВАРТИРЫ&nbsp;</b></a>&nbsp;(14193)<br><br>
<a href="/cat.php?type=4&room3=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;ТРЕХКОМНАТНЫЕ&nbsp;КВАРТИРЫ&nbsp;</b></a>&nbsp;(11157)<br><br>

<a href="/cat.php?type=4&room4=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;ЧЕТЫРЕХКОМНАТНЫЕ&nbsp;КВАРТИРЫ&nbsp;</b></a>&nbsp;(3853)<br><br>
<a href="/cat.php?type=4&room5=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;ПЯТИКОМНАТНЫЕ&nbsp;КВАРТИРЫ&nbsp;</b></a>&nbsp;(1337)<br><br>
<a href="/cat.php?type=4&room6=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;МНОГОКОМНАТНЫЕ&nbsp;КВАРТИРЫ&nbsp;</b></a>&nbsp;(604)<br><br>

</td>
<td>
<a title="Квартиры и комнаты сдаваемые на несколько месяцев" href="/cat.php?type=3"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;СЕЗОННЫЕ&nbsp;КВАРТИРЫ</b></a>&nbsp;(62) <br><br>
<a title="коттеджи и дачи сдаваемые в аренду посуточно" href="/cat.php?suburbian=yes&type=2"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;КОТТЕДЖИ&nbsp;ПОСУТОЧНО</b></a>&nbsp;(266) <br><br>
<a title="Квартиры и комнаты сдаваемые в аренду посуточно" href="/cat.php?type=2"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;КВАРТИРЫ&nbsp;ПОСУТОЧНО</b></a>&nbsp;(1185) <br><br>

<a href="/cat.php?suburb=1&room0=1&type=4"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;КОМНАТЫ&nbsp;В&nbsp;ПОДМОСКОВЬЕ</b></a>&nbsp;(884)<br><br>
<a href="/cat.php?suburb=1&minroom=1&maxroom=6&type=4"><b><font color="green">АРЕНДА :</font>&nbsp;КВАРТИРЫ&nbsp;В&nbsp;ПОДМОСКОВЬЕ</b></a>&nbsp;(6257)<br><br>
<a href="/cat.php?offices=yes&deal_type=1"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;НЕЖИЛЫЕ ПОМЕЩЕНИЯ</b></a>&nbsp;(12065)<br><br>

<a href="/cat.php?suburbian=yes"><b><font color="green">АРЕНДА&nbsp;:</font>&nbsp;КОТТЕЖДИ,&nbsp;ДАЧИ,&nbsp;ТАУНХАУСЫ</b></a>&nbsp;(6165)<br><br>
</td>
</tr>
<tr>
<td>
</td>
<td>
</td>
</tr>
</table>
<h3>НОВОЕ ОБЪЯВЛЕНИЕ :</h3>
<table>
<tr>

<td>
<div>
<fieldset style="display:inline; padding: 15px;">
<legend align=center><big><b><font color=green>АРЕНДА</font></b></big></legend>
<input style="width: 300px;" type="button" value="Квартира, комната - МОСКВА" onClick="location='/user_entries/new_rent'">
<br>
<input style="width: 300px;" type="button" value="Квартира, комната - МО" onClick="location='/user_entries/new_rent'">
<br>
<input style="width: 300px;" type="button" value="Дом, дача, коттедж, таунхаус" onClick="location='/user_entries/new_rent'">
<br>
<input style="width: 300px;" type="button" value="Нежилые помещения - МОСКВА" onClick="location='/user_entries/new_rent'">
<br>
<input style="width: 300px;" type="button" value="Нежилые помещения - МО" onClick="location='/user_entries/new_rent'">
</div>
</td>
<td>
</td>
</tr>
</table>

<br>



            

          </td>

        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<center>


</center>
</body>
</html>
