/* global */
img{
    border: none;
}

/* user panel */

#top_user_panel{
    position: relative;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}


#welcome{
		position: relative;
}
#controls{
    position: absolute;
    right: 0;
    top: 0;
}


#controls ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#controls li{
    float: left;
    margin-left: 10px;
}



/* search flat */

#search .column{
    float: left;
}

#search_conditions, #map{
    width: 50%;
}

#cool_map_selector img{
    width: 500px;
}

.clear{
    clear: left;
}

#search_condition_submit{
		position: relative;
}
