/*user */

#login_div{
		margin:auto;
		width:50%;
}

#notice{
		margin:auto;
		width:50%;
		padding:10px
}
.big_field_set{
		display:inline; 
		padding: 15px;
}

.big_field_set_legend{
		align: center;
		color: grey;
}
