<div id="login_div" class="">
	<fieldset id="login_field_set" class="big_field_set"> 
    <legend class="big_field_set_legend">Вход в систему</legend>
    <% form_tag do %>
		<table>
			<tr>
				<td align=right>
         <label for="login">Имя пользователя:</label>
				</td>
				<td >
         <%= text_field_tag :login, params[:login] %>
				</td>
			</tr>
			<tr>
				<td align=right>
         <label for="password">Пароль:</label>
				</td>
				<td>
         <%= password_field_tag :password, params[:password] %>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
         <%= submit_tag "Вход" %>
				</td>

			</tr>
    <% end %>
		</table>
  </fieldset>
</div>
